* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    width: 460px;
    margin: 0 auto;
}

h1 {
  margin-top: 250px;
    text-align: center;
    margin-bottom: 30px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    align-items: center;
}

.fields {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    align-items: center;
    gap: 8px;
}

.fields input {
    border-radius: 8px;
    border: none;
    background-color: rgb(232, 225, 225);
    width: 200px;
    padding: 10px 15px;
}
.btnDiv{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.btn {
    
    width: fit-content;
    display: block;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;

}
.loginBtn{
     width: fit-content;
    display: block;
    padding: 10px 24px;
    border-radius: 8px;
    background-color: transparent;
  cursor: pointer;
}

.formIn {
    display: none;
    margin-top: 10px;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

.containerIn {
    display: flex;
    flex-direction: column;
}

.btnIn {
    width: fit-content;
    display: block;
    margin: 0 auto;
    padding: 5px 20px;
    border-radius: 8px;
    background-color: transparent;
}


.cookies-section {
  background-color: white;
  border: 1px solid gray;
  margin: 15px 15px;
   bottom: 0;
    position: fixed;
}
.cookies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 90px;
}
.cookiesh5 {
  color: #3c3c3c;
  font-weight: 600;
  font-size: 18px;
  padding-top: 22px;
  padding-left: 32px;
  padding-bottom: 17px;
}
.cookiesP {
  color: #3c3c3c;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  width: 880px;
  padding-bottom: 10px;
  padding-left: 32px;
}
.btn-cookies {
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
}
.cookies-right {
  display: flex;
}
.cookies-right a {
  color: #324fbe;
  padding-right: 33px;
  padding-top: 44px;
}
.reject-btn {
  width: 125px;
  height: 42px;
  border-radius: 2px;
  border: none;
  color: white;
  background-color: #324fbe;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  padding: 14px 34px;
  margin-right: 16px;
  margin-top: 30px;
}
.reject-btn:active{
    background-color: red;
}
.accept-btn {
  width: 125px;
  height: 42px;
  border-radius: 2px;
  border: none;
  color: white;
  background-color: #324fbe;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  padding: 14px 34px;
  margin-top: 30px;
}
.message{
 display: flex;
 align-items: center;
 justify-content: center;
 margin-top: 20px;
}